/node_modules
/public/hot
/public/storage
/public/images
/public/uploads
/public/*.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
